<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-bgcolor-delete">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">删除信息确认</h4>
            </div>
            <div class="modal-body">
                <p class="messages-delete">
                    <strong>
                        <i class="fa fa-exclamation-triangle"></i>提示！
                    </strong>
                    你确定要删除选中的信息吗？
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                <a id="btnDelete" class="btn btn-primary">确 认</a>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal -->
